*{ 
    box-sizing: border-box;
}

/*cabecalho*/
/*.conteiner{
  font-family:'Montserrat',sans-serif;
  font-weight: 800;
  font-size: 25px;
  padding: 15px;
  background-image: url('../img/sobre-background.jpg');
  text-transform: uppercase;
  font-weight: bold;    
}*/

body{
    font-family: "Helvetica", "Lucida Grande",sans-serif;
    font-weight: 400;   
    font-size: 17px; 
}


/* COMECO MENU de animacao*/
.btn:hover{
  border:none;
  background:lightgray;
  padding:40px, 40px, #000;
  color: black;
  font-weight: bold;
}

.btn{
  color: #6b6a6a;
  padding: 10px,10px;
  font-size: 13px;
  text-decoration: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: 'Osvald',sans-serif;
}
/*FIM DO MENU*/
.conteiner{
  width: 940px;
  margin: 0 auto;
}

.flex-conteiner{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

#topo{
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
}

#topo .menu{
  position: absolute;
  bottom: 0;
  right: 0;
}

#topo .menu li{
  display: inline;
  margin-left: 10px;
}

/*Inicio Rodape*/
#rodape .social a{
  width: 32px;
  height: 32px;
  display: block;
}

#rodape .social a span{
  display: none;
}

#rodape .social a[href *='facebook.com']{
  background-image: url('../img/facebook.png');
}

#rodape .social a[href *='twitter.com']{
  background-image: url('../img/twitter.png');
}

#rodape .social a[href *='instagram.com']{
  background-image: url('../img/icon-inst.jpg');
}

#rodape .social a[href *='youtube.com']{
  background-image: url('../img/icon-you.jpg');
}

#rodape .social a[href *='linkedin']{
  background-image: url('../img/icon-in.jpg');
}

#textoRodape{
  margin-left: 60px;
  font-size: 14px;
  font-style: italic;
  color: white;  
}

#rodape .social li{
  display: inline-block;
  margin: 10px;
}

#rodape .flex-conteiner{
  align-items: center;
}

#rodape{
  background-color: lightgray;  
}




